* {box-sizing: border-box}

nav {
    background-color: blue;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer
}
